.app__Productos {
    background-color: var(--color-black);
    padding: 10rem 3rem;
    display: flex;
    
}

.app__div_img_pro {
    width: 30%;
    border-radius: 10px;
}

.app__dropdown_dropdown-toggle.btn.btn-secondary {
  background: var(--color-golden);
  color: black;
}
.app__form_productos {
    padding-left: 200px;
    padding-right: 20px;
    
} 

.app__label-input {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--color-white);

}

.app__label {
    font-family: var(--font-base);
    color: var(--color-golden);
    font-size: 25px;
}
